#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
    url(./images/nature-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: whitesmoke;
  max-height: 60vh;
  max-width: 100%;
  width: 40rem;
  border-radius: 1.5rem;
  padding: 3rem 1rem;
  box-shadow: 0px 0px 36px 12px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 36px 12px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 36px 12px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h3 {
  margin: 0;
  letter-spacing: 2px;
  opacity: 0.7;
  font-family: "Rubik", sans-serif;
}

.advice {
  display: flex;
  color: #07c5f0;
  margin: 3rem auto;
  max-width: 35rem;
  font-family: "Rubik", sans-serif;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  /* height: 200px; */
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 2px solid rgba(52, 235, 27, 0.7);
}

.button span {
  color: #8515e1;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.button:hover {
  animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 80%;
    max-height: 50vh;
  }
}
